/*
 * Copyright 2008 ICMBio
 * Este arquivo é parte do programa SISICMBio
 * O SISICMBio é um software livre; você pode redistribuíção e/ou modifição dentro dos termos
 * da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão
 * 2 da Licença.
 *
 * Este programa é distribuíção na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem
 * uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
 * Licença Pública Geral GNU/GPL em português para maiores detalhes.
 * Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENCA.txt",
 * junto com este programa, se não, acesse o Portal do Software Público Brasileiro no endereço
 * www.softwarepublico.gov.br ou escreva para a Fundação do Software Livre(FSF)
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301, USA
 * */

/*NOVOS CSS*/
/*LOGOS DAS ABAS*/
.cabecalho-caixas{
    margin-bottom: 2px;
    height: 75px;
}

.menu-auxiliar{
    float: right;
    top: 25px;
    position: absolute;
    right: 10px;
}

/*AREA DE TRABAHO*/
.logo-area-trabalho{
    background-image: url('../imagens/area_trabalho.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-area-trabalho{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*CAIXA DE ENTRADA*/
.logo-caixa-entrada{
    background-image: url('../imagens/caixa_entrada.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-caixa-entrada{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*CAIXA DE SAIDA*/
.logo-caixa-saida{
    background-image: url('../imagens/caixa_saida.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-caixa-saida{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*CAIXA DE SAIDA*/
.logo-caixa-externos{
    background-image: url('../imagens/tramite_externo.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-caixa-externos{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*AREA DE TRABAHO*/
.logo-gerenciamento-etiquetas{
    background-image: url('../imagens/gerenciamento_etiquetas.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-gerenciamento-etiquetas{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*DESPACHOS E COMENTARIOS*/
.logo-manter-unidades{
    background-image: url('../imagens/unidades.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-manter-unidades{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*DESPACHOS E COMENTARIOS*/
.logo-manter-despachos-comentarios{
    background-image: url('../imagens/despachos_comentarios.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-manter-despachos-comentarios{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*CONTROLE DE PRAZOS*/
.logo-controle-prazos{
    background-image: url('../imagens/logo-prazos.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-controle-prazos{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*PESQUISA DESPACHO E COMENTARIOS DE DOCUMENTOS E PROCESSOS*/
.logo-pesquisa-comentario-despacho{
    background-image: url('../imagens/pesquisar_despachos_comentarios.png'); 
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-pesquisa-comentario-despacho{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*PESQUISA DE DOCUMENTOS*/
.logo-pesquisa-documentos{
    background-image: url('../imagens/pesquisar_documentos.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-pesquisa-documentos{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*PESQUISA DE PROCESSOS*/

.logo-pesquisa-processos{
    background-image: url('../imagens/pesquisar_processos.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-pesquisa-processos{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*CADASTRO DE DOCUMENTOS*/

.logo-cadastro-documentos{
    background-image: url('../imagens/cadastrar_documentos.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-cadastro-documentos{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*PESQUISA DE COMPLEMENTOS PROCESSOS*/

.logo-pesquisa-complemento-processos{
    background-image: url('../imagens/pesquisar_complementos.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-pesquisa-complemento-processos{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*HISTORICOS COMENTARIOS*/
.logo-historico-comentarios{
    background-image: url('../imagens/historico_comentarios.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}
/*HISTORICOS DESPACHOS*/
.logo-historico-despachos{
    background-image: url('../imagens/historico_despachos.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}
/*HISTORICOS DE PROCESSOS E DOCUMENTOS*/
.logo-historico-tramite{
    background-image: url('../imagens/historico_tramite.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-historico{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*TRAMITE RAPIDO*/

.logo-rastreamento{
    background-image: url('../imagens/rastreamento.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-rastreamento{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*TRAMITE RAPIDO*/

.logo-tramite-rapido{
    background-image: url('../imagens/tramite_rapido.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-tramite-rapido{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*PRE-CADASTRO DE DOCUMENTOS*/

.logo-pre-cadastro-documentos{
    background-image: url('../imagens/pre_cadastro.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-pre-cadastro-documentos{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*Colunas Ordenacao Documentos e Processos*/

.column-checkbox{
    width: 10px;
    text-align: center;
}

.column-digital{
    width: 40px;
    text-align: center;
}

.column-numero-processo{
    width: 100px;
    text-align: center;
}

.column-processo{
    width: 150px;
    text-align: center;
}

.column-data{
    width: 50px;
    text-align: center;
}

.column-interessado{
    width: 110px;
    text-align: center;
}

.column-opcao-1{
    width: 30px;
    text-align: center;
}

.column-opcao-2{
    width: 60px;
    text-align: center;
}

.column-opcao-3{
    width: 90px;
    text-align: center;
}

.column-opcao-4{
    width: 120px;
    text-align: center;
}

.column-opcao-5{
    width: 150px;
    text-align: center;
}

.column-tipo{
    width: 100px;
    text-align: center;
}

.column-movimentacao{
    width: 250px;
    text-align: center;
}

.column-numero{
    width: 100px;
    text-align: center;
}

.column-assunto{
    text-align: center;
}

/*Cadastro de Documentos*/
/*Filtros*/


.box-filtro{
    display: none;
}

.box-filtro label{
    margin-top: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    left: 11px;
    width: 133px;
}

.box-filtro input[type=text],.box-filtro select{
    height: 25px;

}

.box-filtro .row .conteudo input[type=text],
.box-filtro .row .conteudo select{
    width: 350px;
    height: 25px;

}

.box-filtro .botao-auxiliar{
    vertical-align: middle;
    margin-left: -20px;
    position: absolute;
    margin-top: 6px;
}


/*LOGIN*/

.login-logo{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 120px;
    height: 120px;
}

.login-campos{
    position: absolute;
    left: 10px;
}

.login-campos input{
    height: 30px;
    width: 175px;
    font-size: 16px;
    font-weight: bold;
}

.login-campos label{
    display: inline;
    font-size: 12px;
    font-weight: bold;
}

.login-botoes{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.login-captcha{
    width: 170px;
    height: 50px;
    position: absolute;
    bottom: 10px;
}

.login-captcha img{
    height: 50px;

}

/*Icones para representar o status do prazo de documentos e processos*/
.flag-prazo-vermelho{
    width: 32px;
    height: 32px;
    background-image: url('../imagens/flag_prazo_vermelho.png');
}

.flag-prazo-amarelo{
    width: 32px;
    height: 32px;
    background-image: url('../imagens/flag_prazo_amarelo.png');
}

.flag-prazo-verde{
    width: 32px;
    height: 32px;
    background-image: url('../imagens/flag_prazo_verde.png');
}

.flag-possui-relacao{
    width: 25px;
    height: 25px;
    background-image: url('../imagens/cliper.png');
}

/*Notificacao de prazo geral no campos de prazo de documentos e processos*/
/*Prazos entre +3 á (-)infinito*/
.notificacao-prazo-vermelho{
    color: red;
}
/*Prazos entre +4 á +7*/
.notificacao-prazo-amarelo{
    color: #eb8f00;
}
/*Prazos entre +8 á +(infinito)*/
.notificacao-prazo-verde{
    color: green;
}

/*MANTER USUARIOS*/

.logo-manter-usuarios{
    background-image: url('../imagens/icones/48/manter-usuarios.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-manter-usuarios{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*MANTER PRIVILEGIOS*/

.logo-manter-privilegios{
    background-image: url('../imagens/login.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-manter-privilegios{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*MANTER DEMANDAS*/

.logo-manter-demandas{
    background-image: url('../imagens/resolver_demandas.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-manter-demandas{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}

/*DESANEXACAO*/
.button-delete-desanexar{
    float: right;
    margin-top: 5px;
    margin-right: -24px;
}



/*MANTER MINUTA*/

.logo-minuta{
    background-image: url('../imagens/logo-minuta.png');
    width: 48px;
    height: 48px;
    top: 15px;
    left: 10px;
    position: absolute;
}

.titulo-manter-minuta{
    font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ffffff;
    top: 25px;
    left: 70px;
    position: absolute;
}